<aside>
  <mat-nav-list>
    <a mat-list-item [routerLink]="['/']">What's new?</a>
    <a mat-list-item [routerLink]="['/now-playing']">Now Playing</a>
    <a mat-list-item [routerLink]="['/popular']">Popular</a>
    <a mat-list-item [routerLink]="['/top-rated']">Top Rated</a>
    <a mat-list-item [routerLink]="['/upcoming']">Upcoming</a>
    <a mat-list-item [routerLink]="['/favorite']">Favorites</a>
    <a mat-list-item [routerLink]="['/watch-later']">Watch Later</a>
  </mat-nav-list>
</aside>
