.list {
    margin-top: 85px;
    width: 240px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  
    &__item {
      width: 100%;
    }
  }
  .mat-mdc-card-content {
    display: flex;
    align-items: center;
  }
  
  .header-image {
    background-size: cover;
    margin-right: 16px;
    margin-bottom: 0;
  }
  
  @media (max-width: 899px) {
    .list {
      margin-top: 20px;
      margin-bottom: 20px;
    }
  }
  