<div class="movies">
  <div class="movies__movie-list">
    @for (movie of selectedWatchLaterMovies$ | async; track movie) {
    <mat-card class="list__item" appearance="outlined">
      <mat-card-content
        ><div
          mat-card-avatar
          class="header-image"
          [ngStyle]="{
            'background-image':
              'url(https://image.tmdb.org/t/p/w500/' + movie.poster_path + ')'
          }"
        ></div>
        <p class="list__item__title">{{ movie.title }}</p>
        <button
          mat-icon-button
          aria-label="Example icon-button with menu icon"
          (click)="removeMovieFromWatchLaterList(movie.id)"
        >
          <mat-icon>delete</mat-icon>
        </button>
      </mat-card-content>
    </mat-card>
    }
  </div>
</div>
