<div class="list">
  @for (movie of watchLaterMovies; track movie) {
    <mat-card class="list__item" appearance="outlined">
      <mat-card-content
        ><div
          mat-card-avatar
          class="header-image"
          [ngStyle]="{
            'background-image': 'url(https://image.tmdb.org/t/p/w500/' + movie.poster_path + ')'
          }"
        ></div>
        <p>{{ movie.title }}</p>
      </mat-card-content>
    </mat-card>
    } @empty {
    <span>The list of watch later is empty</span>
    }
</div>

