.card {
    background-color: bisque;
    border-radius: 12px;
    width: 400px;
    padding: 12px;
    &__img {
    }

    &__title {
    }

    &__rating {
    }

    &__desc {
    }

    &__additinal {
    }
}
