.card {
  max-width: 320px;
  height: 100%;
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  &__desc {
    margin-top: 16px;
  }
  &__actions {
    flex: 1;
    align-items: flex-end;
  }
}

.mdc-card__actions {
  gap: 6px;
  flex-wrap: wrap;
}
