<mat-card class="card" appearance="outlined" (click)="detail()">
  <mat-card-header>
    <div class="card__header">
      <mat-card-title class="card__title">{{ movie.title }}</mat-card-title>
      <mat-card-subtitle>{{ movie.vote_average }}</mat-card-subtitle>
    </div>
  </mat-card-header>
  <img
    mat-card-image
    [src]="'https://image.tmdb.org/t/p/w500/' + movie.poster_path"
    [alt]="'Photo of' + movie.title"
  />
  <mat-card-content>
    <p class="card__desc">
      {{ movie.overview }}
    </p>
    <mat-list role="list">
      <mat-list-item role="listitem"
        >Original Language: {{ movie.original_language }}</mat-list-item
      >
      <mat-list-item role="listitem"
        >Release Date: {{ movie.release_date }}</mat-list-item
      >
    </mat-list>
  </mat-card-content>
  <mat-card-actions class="card__actions">
    <button
      mat-fab
      extended
      title="Add to favourite"
      (click)="addToFavourite($event)"
    >
      <mat-icon>favourite</mat-icon>
      Favourite
    </button>
    <button
      mat-fab
      extended
      title="Add to watch List"
      (click)="addToWatchList($event)"
    >
      <mat-icon>watch_later</mat-icon>
      Watch later
    </button>
  </mat-card-actions>
</mat-card>
