.header,
.footer {
  font-size: 24px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.example-container {
  height: 100%;
  border: 1px solid rgba(0, 0, 0, 0.5);
}
.example-sidenav {
  width: 200px;
}
.sidenav-content {
  padding: 50px;
  display: flex;
}

@media (max-width: 899px) {
  .sidenav-content {
    flex-direction: column;
  }
  .sub-content {
    order: -1;
  }
}
