.header,
.footer {
  font-size: 24px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.app-container {
  height: calc(100vh - 64px);
  border: 1px solid rgba(0, 0, 0, 0.5);
  &__sidenav {
    width: 200px;
  }
  &__main {
    padding: 40px;
    display: flex;
  }
}

@media (max-width: 899px) {
  .sidenav-content {
    flex-direction: column;
  }
  .sub-content {
    order: -1;
  }
}
