<div class="container">

    <div class="movies">
        <h1 class="title">Movies</h1>
        <div class="movie-list">
            @for (movie of movies; track movie.title) {
                <app-movie-card [movie]="movie" 
                    (addFavourite)="addMovieToFavourite($event)" 
                    (addWatchList)="addMovieToWatchLater($event)">
                </app-movie-card>
            }
        </div>
    </div>

    <div class="side-bar">
        <div class="favourite">
            <h2 class="favourite__title">Favourite</h2>
            @for (movie of favouriteMovies; track movie.title) {
                <div class="movie-item is-flex-space-between">
                    <p>{{ movie.title }}</p>
                    <div class="movie-item__img">
                        <img [src]="'assets/images/' + movie.imgPath" alt="">
                    </div>
                </div>
            }
            @empty { 
                <span>The list of favourite is empty</span> 
            }         
        </div>
        <div class="watch-later">
            <h2 class="watch-later__title">Watch Later</h2>
            @for (movie of watchLaterMovies; track movie.title) {
                <div class="movie-item is-flex-space-between">
                    <p>{{ movie.title }}</p>
                    <div class="movie-item__img">
                        <img [src]="'assets/images/' + movie.imgPath" alt="">
                    </div>
                </div>
            }
            @empty { 
                <span>The list of watch later is empty</span> 
            } 
        </div> 
    </div>
</div>
