@import "assets/styles/reset.scss";
@import "assets/styles/material-override.scss";
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.movie-list {
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 16px;

  app-movie-card {
    flex: 1;
  }
}

.content {
  display: flex;
}
