@import "assets/styles/reset.scss";
@import "assets/styles/material-override.scss";
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

app-home {
  width: 100%;
}

.movies {
  display: flex;
  gap: 16px;
  &__movie-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 16px;

    app-movie-card {
      flex: 1;
    }
  }
}
